/* 
    Created on : 18 Jun, 2020, 3:15:33 PM
    Author     : Nishith
*/

/*Anchor Pane*/
#aPane {
    -fx-background-color: #000;
}

/*All JFXTextFields i.e player1 & Player2 and Labels */
JFXTextField, Label {
    -fx-text-fill: #fff;
    -fx-font: 16px "Saira Condensed Light";
}

/* Underlines for player 1 & 2 */
#u1, #u2 {
    -fx-font: bold 16px "Comic Sans Ms" ;
}

/*All JButtons including 9 boxes and restart button*/
JFXButton {
    -fx-background-color: transparent;
}

/*2 radio buttons for both players to choose the symbol*/
JFXRadioButton {
    -fx-text-fill: #fff;
    -fx-font: 14px "Comic Sans MS";
}

/*New game button*/
#reset {
    -fx-font: 14px "Comic Sans MS";
    -fx-background-color: #fff;
}
